html {
    position: relative;
    min-height: 100%;
}

.break-word {
    word-wrap: break-word;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

input[readonly].readonly-text {
    background-color: #fff;
    cursor: text;
}

body {
    background-color: #F4F4F6 !important; 
}

.navbar.navbar-default {
    background-color: #66666E !important;
    border-color: #66666E !important;
}

.navbar-default .navbar-brand {
    color: #000000 !important;
}

.page-header {
    color: #000000 !important;
}

.lead {
    color: #000000 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #66666E !important;
    border-color: #E6E6E9 !important;
}
